<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icon - IconMonster -->
    <link
      rel="stylesheet"
      href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"
    />

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

    <title>Find Dev - Connect with Developers!</title>
  </head>

  <body>
    {% include 'navbar.html' %} {% if messages %} {% for message in messages %}
    <div class="alert alert--{{message.tags}} notrun">
      <p class="alert__message">{{message}}</p>
      <button class="alert__close">x</button>
    </div>

    {% endfor %} {% endif %} {% block content %} {% endblock content %}
  </body>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</html>
